label {
  display: block;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}


input, select {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .25);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;

  &-end {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

.number-input {
  width: 25%;
}

.input-width {
  width: 100%;
}


.custom-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  z-index: 1050;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s ease;
}

.custom-alert.success {
  background-color: #4CAF50; /* Verde para sucesso */
}

.custom-alert.danger {
  background-color: #f44336; /* Vermelho para erro */
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error-message{
  color: #f44336;
  margin-top: 8px;
  font-size: 12px;
}


.alert-message {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #dbffdd;
  color: #4CAF50;
  border: 1px solid #dbffdd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}