.gmnoprint{
  display: none;
}
.gm-style-iw-chr{
  position: fixed;
  right: 0;
}
.gm-style-iw-d{
  overflow: hidden !important;
  padding: 16px;
}
.gm-style-iw-c{
  padding-left: 0 !important;
}

.popup{
  color:#122F3B;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.popup span {
  width: auto;
  display: inline;
  padding: 4px 8px;
  font-size: 12px;
  background-color: #295D54;
  color: white;
  white-space: nowrap;
  border-radius: 4px;
}

